#map {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .gm-style .gmnoprint .gm-style-mtc div, .gm-style .gmnoprint .gmnoprint {
    display: block !important;
    visibility: visible !important;
  }
  