  #map {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .gm-style .gmnoprint .gm-style-mtc div, .gm-style .gmnoprint .gmnoprint {
    display: block !important;
    visibility: visible !important;
  }
  
  .notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background-color: #f0f4ff;
    border: 1px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333;
    text-align: center;
  }
  
  .notification .message-title {
    font-size: 1.2em; /* Larger font size */
    font-weight: bold;
    margin: 0px !important;
  }
  
  .notification .status-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .notification .status-icon-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
  
  .status-good {
    background-color: #28a745; /* Green for "Good" */
  }
  
  .status-maintenance {
    background-color: #ffc107; /* Yellow for "Needs Maintenance" */
  }
  
  .status-damaged {
    background-color: #dc3545; /* Red for "Damaged" */
  }
  
  .status-icon {
    font-size: 1.3em;
  }
  